n8n/groundwork-pipeline.json
{
  "updatedAt": "2026-03-12T20:40:18.296Z",
  "createdAt": "2026-03-12T20:06:45.701Z",
  "id": "Pu4hWNXmFRxgW9eK",
  "name": "groundwork-pipeline",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "groundwork",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "db6c7806-2198-4f75-aeae-69e0daf7d1ab",
      "name": "Webhook",
      "webhookId": "dca3d455-f132-4878-b11f-3c1c04be0d4e"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"api_key\": \"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\",\n  \"query\": \"{{ $json.body.idea }} market size trends competitors 2024 2025\",\n  \"search_depth\": \"advanced\",\n  \"max_results\": 10,\n  \"include_answer\": true,\n  \"include_raw_content\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "72608e55-8cd1-4b2d-a92c-7c97b7acca8f",
      "name": "Market Research"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer PERPLEXITY_API_KEY_PLACEHOLDER"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an expert Market Research Analyst specializing in strategic market insights for Product Managers. Deliver actionable competitive intelligence, market trends, and opportunity analysis. Never ask follow-up questions. Always provide complete analysis.\\n\\nRespond with JSON using exactly these keys: executive_summary, market_overview, market_size, growth_rate, key_trends (array), opportunities (array), strategic_implications.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Analyse market research for this product idea: {{ $('Webhook').item.json.body.idea }}\\n\\nProvide a complete market analysis as JSON.\"\n    }\n  ],\n  \"max_tokens\": 2000,\n  \"temperature\": 0.2\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        0
      ],
      "id": "8ef4f75f-c3fd-4d7c-8e95-0a85c55a7421",
      "name": "Market Synthesis"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Market Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Market Research": {
      "main": [
        [
          {
            "node": "Market Synthesis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "b0789098-8b10-4cce-b71f-d1c8b6acb3b8",
  "activeVersionId": null,
  "versionCounter": 42,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-12T20:06:45.703Z",
      "createdAt": "2026-03-12T20:06:45.703Z",
      "role": "workflow:owner",
      "workflowId": "Pu4hWNXmFRxgW9eK",
      "projectId": "3Q2rrk2GSueYRezD",
      "project": {
        "updatedAt": "2025-07-31T20:30:24.064Z",
        "createdAt": "2025-07-31T20:30:21.112Z",
        "id": "3Q2rrk2GSueYRezD",
        "name": "Raji Bhamidipati <rajibhamidipati@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "5d3c3030-9f6f-4788-8e93-42d0e6810f83"
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}